:root {
  background-color: #1a1a1a;
  color: #e6e6e6;
  margin: 0px;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: text;
  height: 100vh;
}

#prompt-span {
  color: #999999;
}

#terminal {
  height: 100%;
}

#prompt {
  color: inherit;
  border-width: 0px;
  background-color: inherit;
  position: absolute;
  font-size: inherit;
  font-family: inherit;
  margin: -1px -2px;
  width: calc(100% - 1em);
}
#prompt:focus {
  outline: none;
}

.text-output {
  padding: 0px 0px 5px 0px;
  margin: 0;
  white-space: pre;
  min-height: 1.25em;
}

a {
  color: #34ee51;
}
