servicemanager&
service tty start
service carrot start
service carrot launchApplication("soysoup/applications/desktop.soup", "", "");
service carrot launchApplication("soysoup/bin/terminal.soup", "", "");