service carrot launchApplication("soysoup/applications/desktop.soup", "", "")
service carrot launchApplication("soysoup/bin/terminal.soup", "", "")
service carrot launchApplication("soysoup/applications/wow.soup", "", "")